/* Reset */

* {
  box-sizing: border-box;
}

body,
html,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
dl,
dt,
dd,
form,
label,
input,
select,
option,
table,
thead,
tbody,
tfoot,
th,
tr,
td {
  margin: 0;
  padding: 0;
}

table,
thead,
tbody,
tfoot,
th,
tr,
td {
  text-align: left;
  border-collapse: collapse;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|PT+Sans');

/* Defaults */

a {
  color: #000;
}

form {
  display: grid;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
}

input,
form button {
  display: block;
  width: 100%;
  padding: 10px;
  font-family: 'PT Sans', sans-serif;
  border: 1px solid #666;
  /* overflow: hidden; */
}

input[type='submit'],
form button {
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 0;
  cursor: pointer;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  background: #666;
}

button {
  font-family: 'PT Sans', sans-serif;
  cursor: pointer;
}

/* Styles */

#app {
  max-width: 600px;
  margin: auto;
  font-family: 'PT Sans', sans-serif;
}

#header {
  text-align: center;
}

#header > div:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#header h1 {
  padding: 10px 0;
  color: rgb(138, 138, 39);
  font-family: 'Amatic SC', sans-serif;
}

#header #info-left,
#header #info-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#header #info-left span,
#header #info-right span {
  padding: 0 10px;
  font-size: 12px;
}

#header #info-left span {
  text-align: left;
}

#header #info-right span {
  text-align: right;
}

#header #info-right button,
#header #info-left button {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 12px;
  text-decoration: underline;
  border: none;
  background: none;
}

#main-menu {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

#main-menu ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

#main-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

#main-menu a.active {
  text-decoration: underline;
}

#main-menu a:hover {
  text-decoration: underline;
}

#content {
  display: grid;
  gap: 10px;
  padding: 10px;
}

#map {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.cell {
  background: #b6d6b6;
}

.cell img {
  width: 100%;
  height: 100%;
}

#footer {
  padding: 10px;
  text-align: center;
  border-top: 2px solid #000;
}
